.App {
  color: white;
  display: grid;
  justify-items: center;
  min-width: 1000px;
}

.title {
  font-size: 94px;
  margin: 10px;
}

.mission {
  font-size: 48px;
  margin-bottom: 20px;
  max-width: 500px;
  text-align: center;
}

.mission__label {
  margin-bottom: 5px;
  margin-top:0;
}

.mission__item {
  color: rgb(0, 180, 0);
}

.mission__time {
  color: red;
}

.mission__options {
  display: flex;
  width: 50%;
  justify-content: space-between;
}